.hero-container {
    background-image: url('https://wallpaperaccess.com/full/1954791.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.diablo-logo {
    -webkit-filter: drop-shadow(0px 8px 2px #000000);
    filter: drop-shadow(0px 8px 2px #000000);
}

