header {
    background-color: #000000;
    z-index: 3;
}

.logo {
    color: #D2C8AE;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 600;
}

.icon-container {
    margin-bottom: 25px;
}

.checkbox-label {
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.menu-icon {
    width: 50px;
    border-radius: 100%;
    border: 2px solid #D2C8AE;
}

.span1, .span2, .span3 {
    position: absolute;
    right: 0;
    content: '';
    height: 4px;
    width: 40px;
    background-color: #3A3A3A;
    border-radius: 5px;
    transition: all 400ms ease;
    cursor: pointer;
}

.span2 {
    top: 12px;
    width: 25px;
}

.span3 {
    top: 24px;
}

#checkbox {
    display: none;
}

#checkbox:checked ~ .checkbox-label .span1 {
    transform: rotate(40deg);
    top: 10px;
}

#checkbox:checked ~ .checkbox-label .span2 {
    opacity: 0;
}

#checkbox:checked ~ .checkbox-label .span3 {
    transform: rotate(-40deg);
    top: 10px;
}

.menu-container {
    background-image: url('../../assets/menu-bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    color: #D2C8AE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    transform: translatey(-100%);
    transition: all 0.5s ease;
}

.menu-container li {
    position: relative;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.4s ease;
    font-family: 'Cinzel', serif;
    opacity: 1;
}

.bullet {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    visibility: hidden;
}

.user {
    width: 30px;
}

.log-in {
    padding: 0 !important;
}

.log-in a {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #5a0b0e;
}

.menu-container li a {
    display: flex;
    align-items: center;
}

.menu-container li a:hover {
    color: #e6bf01;
}

.menu-container li a:hover {
    color: #e6bf01;
}

.menu-container li a:hover img {
    visibility: visible;
}

#checkbox:checked ~ .menu-container {
    transform: translateX(0%);
}

.hidden-content {
    display: none !important;
}

/* @media screen and (min-width: 1200px) {

    .checkbox-label {
        display: none;
    }

    .menu-container {
        height: inherit;
        transform: inherit;
        position: inherit;
        flex-direction: row;
        background-color: transparent;
        border: 0;
    }

    .menu-container li {
        padding: 0 50px 0 0;
        font-size: 18px;
        margin-bottom: 0;
    }

    .icon-container {
        margin-bottom: 0;
    }
    
} */