@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  background-color: #000000;
  background-color: #292a2d;
  background-color: #646569;
  background-color: #b6b7b9;
  background-color: #5a0b0e;
  background-color: #a61218;
  background-color: #e42129;
  background-color: #cfc101;
  background-color: #e6bf01;
}

@font-face {
	font-family: "Old Fenris";
	src: url("./assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff2"),
		url("./assets/fonts/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff") format("woff");
}

body {
  background-color: #000000;
  font-family: 'Rajdhani', sans-serif;
}

H1, h2, h3, h4, h5 {
  font-family: 'Old Fenris', 'cursive';
}
